<form [formGroup]="customerForm" (ngSubmit)="update()">
  <!-- Nombre -->
  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroUserCircle" />
    <input id="firstName" class="input medium" type="text" formControlName="firstName" placeholder="Nombre"/>
  </div>

  <!-- Apellido -->
  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroUserCircle" />
    <input id="lastName" class="input medium" type="text" formControlName="lastName" placeholder="Apellido"/>
  </div>

  <!-- Teléfono -->
  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroPhone" />
    <input id="phoneNumber" class="input medium" type="text" formControlName="phoneNumber" placeholder="Teléfono"/>
  </div>

  <!-- Email -->
  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroEnvelope" />
    <input id="email" class="input medium" type="email" formControlName="email" placeholder="Correo electrónico"/>
  </div>

  <!-- Botones -->
  <button type="submit" class="btn warning full" [disabled]="customerForm.invalid">Modificar Cliente</button>
</form>
