.countDay-container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title title"
        "hour stats";
    height: 100%;
    width: 100%;
    gap: var(--gap-l);
    padding: var(--padding-l);
    border-radius: var(--border-radius-m);
    background-color: var(--background-light);
    box-shadow: var(--shadow-elevation-medium);

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
            "stats";
        gap: var(--gap-s);
        .hour {
            display: none;
        }
    }
}

.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    border-radius: var(--border-radius-m);
    padding: var(--padding-l);
    background-color: var(--primary);
    color: var(--text-light);
    grid-area: hour;
}

.stats-container {
    grid-area: stats;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "salary salary"
        "stats stats";
    gap: var(--gap-s);

    h2 {
        width: 100%;
        font-size: 16px;
        font-weight: var(--font-weight-normal);
        box-shadow: var(--shadow-elevation-medium);
        border-radius: var(--border-radius-m);
        padding: var(--padding-l);
    }
}

.salary {
    grid-area: salary;
    width: 100%;
    background-color: var(--background-light);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    padding: var(--padding-l);
    display: flex;
    gap: var(--gap-l);
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-l);
    width: 100%;
    border-radius: var(--border-radius-m);
    padding: var(--padding-l);
    background-color: var(--background-light);
    border: 1px solid var(--border-light);

    @media (max-width: 768px) {
        padding: var(--padding-s);
        width: 100%;
    }
}

.employee {
    color: var(--primary);
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-normal);
  }
  
  .header {
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-m);
    padding-bottom: var(--padding-m);
    width: 100%;
    border-bottom: 1px solid var(--border-light);
  }
  