.countDay-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: 100%;
  width: 100%;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--card);  
  color: var(--foreground);  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);    
  border: 1px solid var(--border);
}


.hour {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    border-radius: 16px;
    padding: 16px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 8px;
    gap: 16px;
    h2{
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        color: var(--foreground);
    }
}


.stats {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--muted);
    color: var(--muted-foreground);
    justify-content: space-between;
}