.schedule-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: var(--gap-l);
  padding: var(--padding-m);
  box-shadow: var(--shadow-elevation-medium);
  border-radius: var(--border-radius-m);
  background-color: var(--background-light);
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: var(--gap-m);
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.day {
  color: var(--text-dark);
  border-radius: var(--border-radius-m);
  box-shadow:var(--shadow-dark);
  text-align: center;
  padding: var(--padding-l);
  border: 1px solid var(--primary-dark);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-light);
  }
}

.active {
  transform: translateY(-2px);
  color: var(--text-light);
  background-color: var(--primary-light);
}


.days-select {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.mobile-select {
  width: 100%;
  padding: var(--padding-m);
  color: var(--foreground);
  box-shadow:var(--shadow-dark);
  border: 1px solid var(--primary-dark);
  border-radius: var(--border-radius-m);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
  }
}

.info{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap-m);
}

.disabled {
  opacity: 0.5;
  text-decoration: line-through;
  background-color: white;
  color: var(--error);
}