<div class="schedule-container">
  <div class="info">
    <ng-icon name="heroUser" class="icon icon-medium"></ng-icon>
    <p>{{ 'Agenda de: ' + employeeSelectedSignalValue().email }}
    </p>
  </div>
  <div class="schedule-section">
    <div class="schedule">
      <section class="days-container">
        <div class="days-grid">
          @for (day of days(); track $index) {
          <article class="day" (click)="dayActive(day)" [ngClass]="{ 'active': whatDay() === day,
            'disabled': day.status === false
          }">
            <p class="day__title">{{ day.day }}</p>
          </article>
          }
        </div>

        <!-- Mobile Select -->
        <div class="days-select">
          <select (change)="onSelectChange($event)" class="mobile-select">
            <option value="" disabled selected>Seleccionar día</option>
            @for (day of days(); track $index) {
            <option [value]="$index">{{ day.day}} {{ day.status ? '' : '(descanso)'}}</option>
            }
          </select>
        </div>
      </section>
      <app-day [day]="selectedDaySignal"></app-day>
    </div>
  </div>
</div>