
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 100%;
}

.schedule-section {
  width: 100%;
  max-width: 100%;
}

.schedule {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background-color: var(--background);
  color: var(--foreground);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  border-radius: 16px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.days-container {
  width: 100%;
  background-color: var(--background);
  border-radius: 8px;
  padding: 8px;
}

.days-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 8px;
  width: 100%;
  
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--muted);
  color: var(--muted-foreground);
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: var(--muted-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

}

.active {
  background-color: var(--muted-hover);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.days-select {
  display: none;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.mobile-select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--muted-hover);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}