section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 96%;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--gap-l);

  button{
    @media screen and (max-width: 1280px){
      p {
        display: none; 
      }
    }
  }
}

form input{
  width: 80%;
}

.add-btn {
  position: static;

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    border-radius: 50%;
    padding: var(--padding-m);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      display: none; 
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}