.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: 2fr 1.4fr;
    grid-template-areas:
      "today mostPopulateTime mostPopulateTime"
      "countDay countDay countDay";
    gap: 16px;
    height: 100%;
    @media (max-width: 1200px) {
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
        "today"
        "countDay"
        "mostPopulateTime";
    }
    @media (max-width: 768px) {
      .stats-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }
    
      .today, .mostPopulateTime, .countDay {
        width: 100%;
        min-width: 280px; /* Evita que se achiquen demasiado */
      }
    }
  }
  
  .today {
    grid-area: today;
  }
  
  .mostPopulateTime {
    grid-area: mostPopulateTime;
  }
  
  .countDay {
    grid-area: countDay;
  }
  
  .resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 100%;
  }
  
  .dark {
    .today, .mostPopulateTime {
      background-color: var(--dark-card);  
      color: var(--dark-foreground);
    }
  
    .countDay {
      background-color: var(--dark-muted);  
      color: var(--dark-foreground);
    }
  }
  
  