.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-template-rows: 2fr 1.4fr;
    grid-template-areas:
      "today mostPopulateTime mostPopulateTime"
      "countDay countDay countDay";
    gap: 16px;
  }
  
  .today {
    grid-area: today;
  }
  
  .mostPopulateTime {
    grid-area: mostPopulateTime;
  }
  
  .countDay {
    grid-area: countDay;
  }
  
  .resume-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .dark {
    .today, .mostPopulateTime {
      background-color: var(--dark-card);  
      color: var(--dark-foreground);
    }
  
    .countDay {
      background-color: var(--dark-muted);  
      color: var(--dark-foreground);
    }
  }
  