form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--gap-xl) !important;
}


::ng-deep {
  /* ⬆️ Ajustar el tamaño del calendario */
  .demo-inline-calendar-card {
      min-width: 300px !important;
      min-height: 300px !important;
      font-size: var(--font-size-m) !important;
  
  }
  .mat-calendar-body-cell-content,
  .mat-calendar-header,
  .mat-calendar-table-header th,
  .mat-calendar-previous-button,
  .mat-calendar-next-button,
  .mat-calendar-body-cell,
  .mat-calendar-body-label,
  .mat-calendar-period-button {
      font-size: var(--font-size-m) !important;
      color: var(--primary) !important;
  }

      .mat-calendar-body-selected {
        background-color: var(--primary) !important;
        color: white !important; // Asegura que el número se vea bien sobre tu color primario
      }

      .mat-calendar-body-today:not(.mat-calendar-body-selected) {
          border: 1px solid var(--primary) !important;
          color: var(--primary) !important;
        }
}


.calendar-container{
  height: 100%;
  border-radius: var(--border-radius-m) !important;
  box-shadow: var(--shadow-elevation-medium) !important;
  background-color: var(--background-light) !important;
  border: 1px solid var(--border-light) !important;
  padding: var(--padding-m) !important;
  @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: var(--gap-m) !important;
      align-items: center;
      justify-content: center;
  }
}

.container-button{
  display: flex;
  flex-direction: flex;
  gap: var(--gap-m) !important;
  align-items: center;
  justify-content: space-between;
}
