<form [formGroup]="holidaysForm" (ngSubmit)="submit()">
  @if(pageHolidays === 0){
    <div>
      <label for="reason">Motivo: </label>
      <input
        type="text"
        name="reason"
        id="reason"
        class="input medium"
        placeholder="Ej: Vacaciones anuales"
        formControlName="reason"
      />
    </div>
  }
  @if(pageHolidays === 1){
    <mat-calendar
    [selected]="selectedStart"
    (selectedChange)="onDateSelected($event, 'start')"
    >
  </mat-calendar>
  }

  @if(pageHolidays === 2){
    <mat-calendar
    [selected]="selectedEnd"
    (selectedChange)="onDateSelected($event, 'end')"
  >
  </mat-calendar>
  }

  @if(pageHolidays === 3){
    <div>
      <p>{{this.holidaysForm.get('reason')?.value}}</p>
      <p>{{this.holidaysForm.get('startDate')?.value | date:'dd/MM/yyyy'}} - {{this.holidaysForm.get('endDate')?.value | date:'dd/MM/yyyy'}}</p>
    </div>
    <button class="btn primary full" type="submit">Cargar</button>
  }

  @if(pageHolidays>0){
    <button type="button" class="btn primary full" (click)="previousPage()">Anterior</button>
  }
  @if(pageHolidays<3){
    <button type="button" class="btn primary full" (click)="nextPage()">Siguiente</button>
  }
</form>
