form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  gap: var(--gap-m);
  animation: slideInLeft 0.5s ease-out;
  width: 100%;
}

::ng-deep {
  /* ⬆️ Ajustar el tamaño del calendario */
  .demo-inline-calendar-card {
    font-size: var(--font-size-m) !important;
  }
  .mat-calendar-body-cell-content,
  .mat-calendar-header,
  .mat-calendar-table-header th,
  .mat-calendar-previous-button,
  .mat-calendar-next-button,
  .mat-calendar-body-cell,
  .mat-calendar-body-label,
  .mat-calendar-period-button {
    font-size: var(--font-size-m) !important;
    color: var(--primary) !important;
  }

  .mat-calendar-body-selected {
    background-color: var(--primary) !important;
    color: white !important; // Asegura que el número se vea bien sobre tu color primario
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
  }
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  padding-top: var(--padding-m);
}

.calendar {
  width: 300px;
  height: 300px;
  animation: slideInLeft 0.5s ease-out;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-xl);
}

.title-container {
  color: var(--primary);
  font-size: var(--font-size-xl);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.warning-container {
  text-align: justify;
  font-size: var(--font-size-m);
}

.input-container {
  padding: var(--padding-xl);
  animation: slideInLeft 0.5s ease-out;
  
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  gap: var(--gap-l);
}

.full {
  width: 100%;
}

.summary-text {
  width: 100%;
  border-bottom: 1px solid var(--primary);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-m);
}



