section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  width: 100%;
  height: 100%;
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--background-light);
  padding: var(--padding-s) var(--padding-m);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--gap-m);
}

.column-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.nav-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-m);
  background-color: var(--background-light);
  border-radius: var(--border-radius-m);
  border: 1px solid #ccc;
  padding: var(--padding-m);
}


