<section>
  <div class="header">
    <div class="column-header">
      <h2 class="title">Servicios</h2>
      <p class="description">Lista de servicios ofrecidos</p>
    </div>
    <div class="add-btn">
      <button class="btn primary large add-btn" (click)="addOfferedService()">
        <ng-icon name="heroPlusCircle" class="icon icon-medium"></ng-icon>
        <p class="button-text">Agregar</p>
      </button>
    </div>
  </div>
  <div class="list-item-container">
    @for (item of offeredServices(); track item.id) {
    <div class="list-item">
      <div class="info-item">
        <div class="principal-info">{{ item.title }}</div>
        <div class="secondary-info">
          {{ item.description || "Sin descripción" }}
        </div>
        <div class="secondary-info">${{ item.price }}</div>
      </div>
      <div class="btn-item-container">
        <ng-icon
          class="icon icon-medium"
          name="heroPencilSquare"
          (click)="editOfferedService(item)"
        />
        <ng-icon
          class="icon icon-medium"
          name="heroTrash"
          (click)="deleteOfferedService(item.id)"
        />
      </div>
    </div>
    } @empty {
    <p class="empty">No hay servicios</p>
    }
  </div>
</section>
