section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  width: 100%;
  height: 100%;
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-elevation-medium);
  background-color: var(--background-light);
  padding: var(--padding-s) var(--padding-m);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-m);
}

.column-header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}



.list-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-m);
  border-top: 1px solid #ccc;
  width: 100%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.btn-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: var(--gap-m);
}

.principal-info {
  color: var(--primary);
  font-size: var(--font-size-xl) !important;
  font-weight: var(--font-weight-medium);
  text-transform: capitalize !important;
}

.secondary-info {
  color: var(--text-muted);
  font-size: var(--font-size-l) !important;
  font-weight: var(--font-weight-normal);
}

.disabled {
  color: var(--text-muted);
}

.add-btn {
  position: static;
  box-shadow: none;

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    border-radius: 50%;
    padding: var(--padding-m);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      display: none;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.offered-services-container {
  display: grid;
  grid-template-columns: 1fr;
}

.offered-service {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: var(--padding-m);
  gap: var(--gap-m);
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}
