.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius-m);
    border: 2px solid var(--border-light);
    box-shadow: var(--shadow-elevation-low);
    padding: var(--padding-m);
    gap: var(--gap-m);
    height: 100%;
    transition: all 0.3s ease;

    @media screen and (max-width: 805px) {
      flex-direction: row;
      width: auto;
      padding: var(--padding-m);
      border-radius: var(--border-radius-m);
    }
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: var(--shadow-light);
  }
}
  
  .week-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-m);
    background-color: var(--background-light);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    box-shadow: var(--shadow-elevation-medium);
    padding: var(--padding-m);
    & > * {
        flex: 1 1 calc(33% - var(--gap-m)); 
    }

    @media screen and (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
    }
}

  

.selected {
  transform: translateY(-2px);
  color: var(--text-light);
  background-color: var(--primary-light);
}

.holiday {
  background-color: var(--background-light) !important; 
  opacity: 0.5 !important;
  color: var(--text-dark) !important;
}
