.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius-m);
    border: solid 1px var(--border-light);
    background-color: var(--background-light);
    box-shadow: var(--shadow-elevation-medium);
    color: var(--text-dark);
    gap: var(--gap-m);
    padding: var(--padding-l);
    height: 100%;

    @media screen and (max-width: 805px) {
      flex-direction: row;
      width: auto;
      padding: var(--padding-m);
      border-radius: var(--border-radius-m);
    }
  }
  
  .day-container:hover {
    background-color: var(--primary);
    color: var(--text-light);
    transition: background-color 0.5s ease;
    cursor: pointer;
  }
  
  .week-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-m);

    & > * {
        flex: 1 1 calc(33% - var(--gap-m)); 
    }

    @media screen and (max-width: 1200px) {
      flex-wrap: wrap;
      gap: var(--gap-m);

    }

    @media screen and (max-width: 805px) {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
    }
}

  
  .selected {
    background-color: var(--primary);
    color: var(--text-light);
  }