.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    box-shadow: var(--shadow-elevation-low);
    padding: var(--padding-m);
    gap: var(--gap-m);
    height: 100%;

    @media screen and (max-width: 805px) {
      flex-direction: row;
      width: auto;
      padding: var(--padding-m);
      border-radius: var(--border-radius-m);
    }
  }
  
  .day-container:hover {
    background-color: var(--primary);
    color: var(--text-light);
    transition: background-color 0.5s ease;
    cursor: pointer;
  }
  
  .week-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--gap-m);
    background-color: var(--background-light);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    box-shadow: var(--shadow-elevation-medium);
    padding: var(--padding-m);
    & > * {
        flex: 1 1 calc(33% - var(--gap-m)); 
    }

    @media screen and (max-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr;
      height: 100%;
    }
}

  
  .selected {
    background-color: var(--primary);
    color: var(--text-light);
  }