<section class="accordion">
  <div class="accordion-header" (click)="toggleAccordion()">
    <h2>Cambiar contraseña</h2>
    <ng-icon [name]="isAccordionOpen ? 'heroChevronUp' : 'heroChevronDown'" class="icon icon-small" />
  </div>

  <div class="accordion-body" *ngIf="isAccordionOpen">
    <form [formGroup]="form" (ngSubmit)="changePassword()">
      
      <div class="form-group2">
        <div class="input container">
          <ng-icon class="icon icon-medium" name="heroLockClosed" />
          <input class="input" [type]="statusButtonOne === 'showPassword' ? 'text' : 'password'" formControlName="oldPassword" placeholder="Contraseña actual" />
          <ng-icon class="icon icon-small" 
                   [name]="statusButtonOne === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'" 
                   (click)="showPassword(1)" />
        </div>
        <app-form-error [control]="form.get('oldPassword')!"></app-form-error>
      </div>

      <div class="form-group2">
        <div class="input container">
          <ng-icon class="icon icon-medium" name="heroLockClosed" />
          <input class="input" [type]="statusButtonTwo === 'showPassword' ? 'text' : 'password'" formControlName="newPassword" placeholder="Contraseña nueva" />
          <ng-icon class="icon icon-small" 
                   [name]="statusButtonTwo === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'" 
                   (click)="showPassword(2)" />
        </div>
        <app-form-error [control]="form.get('newPassword')!"></app-form-error>
      </div>

      <div class="form-group2">
        <div class="input container">
          <ng-icon class="icon icon-medium" name="heroLockClosed" />
          <input class="input" [type]="statusButtonThree === 'showPassword' ? 'text' : 'password'" formControlName="newPasswordRepeat" placeholder="Contraseña nueva otra vez" />
          <ng-icon class="icon icon-small" 
                   [name]="statusButtonThree === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'" 
                   (click)="showPassword(3)" />
        </div>
        <app-form-error [control]="form.get('newPasswordRepeat')!"></app-form-error>
      </div>

      <button type="submit" class="btn success full" [disabled]="form.invalid || !isFormEnabled">
        Guardar
      </button>
    </form>
  </div>
</section>
