<section>
  <div class="toggle-container">
    <h2>Cambiar contraseña</h2>
    <label class="toggle-switch">
      <input type="checkbox" (click)="toggleForm()" />
      <span class="slider"></span>
    </label>
  </div>

  <form [formGroup]="form" (ngSubmit)="changePassword()" >
    <div class="form-group2">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input class="input" [type]="statusButtonOne === 'showPassword' ? 'text' : 'password'" formControlName="oldPassword"
          placeholder="Contraseña actual" />
        @if (statusButtonOne === 'hidePassword') {
        <ng-icon class="icon icon-small" name="heroEyeSlash" (click)="showPassword(1)" />
        } @else {
        <ng-icon class="icon icon-small" name="heroEye" (click)="showPassword(1)" />
        }
      </div>
      @if(form.get('oldPassword')?.touched){
        <app-form-error [control]="form.get('oldPassword')!"></app-form-error>
      }@else{
        <div style="min-height: var(--font-size-xl); margin-top: var(--margin-m);"></div>
      }
    </div>

    <div class="form-group2">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input class="input" [type]="statusButtonTwo === 'showPassword' ? 'text' : 'password'" formControlName="newPassword"
          placeholder="Contraseña nueva"/>
        @if (statusButtonTwo === 'hidePassword') {
        <ng-icon class="icon icon-small" name="heroEyeSlash" (click)="showPassword(2)" />
        } @else {
        <ng-icon class="icon icon-small" name="heroEye" (click)="showPassword(2)" />
        }
      </div>
      @if(form.get('newPassword')?.touched){
        <app-form-error [control]="form.get('newPassword')!"></app-form-error>
      }@else{
        <div style="min-height: var(--font-size-xl); margin-top: var(--margin-m);"></div>
      }
    </div>
    
    <div  class="form-group2">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input class="input" [type]="statusButtonThree === 'showPassword' ? 'text' : 'password'" formControlName="newPasswordRepeat"
          placeholder="Contraseña nueva otra vez" />
        @if (statusButtonThree === 'hidePassword') {
        <ng-icon class="icon icon-small" name="heroEyeSlash" (click)="showPassword(3)" />
        } @else {
        <ng-icon class="icon icon-small" name="heroEye" (click)="showPassword(3)" />
        }
      </div>
      @if(form.get('newPasswordRepeat')?.touched){
        <app-form-error [control]="form.get('newPasswordRepeat')!"></app-form-error>
      }@else{
        <div style="min-height: var(--font-size-xl); margin-top: var(--margin-m);"></div>
      }
    </div>
    
    <button type="submit" class="btn success full" [disabled]="form.invalid" [disabled]="isFormEnabled">Guardar</button>
  </form>
</section>