<section >
  <div class="header-container">
    <h2 class="sub-title">Cambiar contraseña</h2>
    <p class="description">
      La contraseña debe tener al menos 8 caracteres. Además, no puede ser la
      igual a la contraseña actual.
    </p>
  </div>

  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="form-group2">
      <label for="oldPassword">Contraseña actual</label>
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input
          class="input"
          [type]="statusButtonOne === 'showPassword' ? 'text' : 'password'"
          formControlName="oldPassword"
          placeholder="Contraseña actual"
        />
        <ng-icon
          class="icon icon-small"
          [name]="
            statusButtonOne === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'
          "
          (click)="showPassword(1)"
        />
      </div>
      @if(form.get('oldPassword')?.touched){
      <app-form-error [control]="form.get('oldPassword')!"></app-form-error>
      }@else{
      <div
        style="min-height: var(--font-size-xl); margin-top: var(--margin-m)"
      ></div>
      }
    </div>

    <div class="form-group2">
      <label for="newPassword">Contraseña nueva</label>
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input
          class="input"
          [type]="statusButtonTwo === 'showPassword' ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Contraseña nueva"
        />
        <ng-icon
          class="icon icon-small"
          [name]="
            statusButtonTwo === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'
          "
          (click)="showPassword(2)"
        />
      </div>
      @if(form.get('newPassword')?.touched){
        <app-form-error [control]="form.get('newPassword')!"></app-form-error>
      }@else{
        <div
        style="min-height: var(--font-size-xl); margin-top: var(--margin-m)"
        ></div>
      }

    </div>

    <div class="form-group2">
      <label for="newPasswordRepeat">Confirmar nueva contraseña</label>
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroLockClosed" />
        <input
          class="input"
          [type]="statusButtonThree === 'showPassword' ? 'text' : 'password'"
          formControlName="newPasswordRepeat"
          placeholder="Contraseña nueva otra vez"
        />
        <ng-icon
          class="icon icon-small"
          [name]="
            statusButtonThree === 'hidePassword' ? 'heroEyeSlash' : 'heroEye'
          "
          (click)="showPassword(3)"
        />
      </div>
      @if(form.get('newPasswordRepeat')?.touched){
      <app-form-error
        [control]="form.get('newPasswordRepeat')!"
      ></app-form-error>
      }@else{
      <div
        style="min-height: var(--font-size-xl); margin-top: var(--margin-m)"
      ></div>
      }
    </div>

    <div class="button-container">
      <button
      type="submit"
      class="btn primary extra-large"
      [disabled]="form.invalid || !isFormEnabled"
      >
      Actualizar contraseña
    </button>
  </div>
  </form>
</section>
