.grid-container{
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar main";
    min-height: 100vh;
    padding: 16px;
    gap: 8px;
}

.sidebar{
    grid-area: sidebar;
    border-radius: 16px;
    height: 100%;
}

.main{
    grid-area: main;
    border-radius: 16px;
    height: 100%;
}