@if(role() === 'ADMIN' && employees().length > 1) {
<div class="navigation-container" [ngClass]="nostyles ? 'nostyles' : ''">
  <h2 class="title">{{ title }}</h2>
  <p class="description">{{ description }}</p>
  <select
    class="input"
    name="employees"
    id="employees"
    [ngModel]="employeeSelectedSignalValue()"
    (ngModelChange)="employeeSelected($event)"
  >
    @for (employee of employees(); track $index) {
    <option [value]="employee.email">
      @if(role() === 'ADMIN' && $index === 0) { @if(section === 'turnos') { Mis
      {{ section }} } @else { Mi {{ section }}
      } } @else {
      {{ employee.firstName + " " + employee.lastname }}
      }
    </option>
    }
  </select>
</div>
}
