.btn{
  border-radius: var(--border-radius-s);
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-m);

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &.small{
    font-size: var(--font-size-s);
    padding: var(--padding-m);
  }

  &.medium{
    font-size: var(--font-size-m);
    padding: var(--padding-m) var(--padding-m);
  }

  &.large{
    font-size: var(--font-size-l);
    padding: var(--padding-m) var(--padding-l);
  }

  &.extra-large{
    font-size: var(--font-size-xl);
    padding: var(--padding-m) var(--padding-xl);
  }

  &.full{
    font-size: var(--font-size-xl);
    padding: var(--padding-m);
    width: 100%;
  }

  &.primary{
    background-color: var(--primary);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--primary-light);
      color: var(--text-light);
    }
  }

  &.secondary{
    background-color: var(--secondary);
    color: var(--text-dark);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--secondary-light);
    }
  }

  &.success {
    background-color: var(--success);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--success-hover);
    }
  }

  &.error {
    background-color: var(--error);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--error-hover);
    }
  }

  &.warning {
    background-color: var(--warning);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--warning-hover);
    }
  }

  &.info {
    background-color: var(--info);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--info-hover);
    }
  }

  &:disabled{
    background-color: var(--background-muted);
    cursor: not-allowed;
    &:hover{
      background-color: var(--background-muted);
    }
  }

  &.delete{
    background-color: var(--background-muted);
    color: var(--text-light);
    .icon{
      color: var(--text-light);
    }
    &:hover {
      background-color: var(--background-muted);
    }
  }


}

