.title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: none;
}

.sub-title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    color: var(--text-dark);
}
