.appointments-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
    padding: var(--padding-m);
    color: var(--foreground);
    transition: background-color 0.5s ease;
    background-color: var(--background-light);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    box-shadow: var(--shadow-elevation-medium);
    height: 100%;
}

.date-and-add-appointment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-m);
    @media screen and (max-width: 576px) {
        display: grid;
        grid-template-columns: 1fr auto;
    }
}

.add-appointment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none;
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.btn{
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.appointment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--gap-m);
    padding: var(--padding-m) var(--padding-m) var(--padding-l) var(--padding-m);
    background-color: var(--background-light);
    transition: background-color 0.5s ease;
    border-bottom: 1px solid var(--border-light);
    &:hover{
        
        cursor: pointer;
   
    }
}

.logo-hours{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    background-color: var(--muted);
    color: var(--foreground);
    transition: background-color 0.5s ease;
}

.info-appointment{
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: 100%;
    transition: background-color 0.5s ease;
}


.active {
    background-color: var(--primary);
    color: var(--text-light);
    cursor: pointer;
}


.info-date-header{
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
}

.date{
    @media screen and (max-width: 576px) {
        display: none;
    }
}

.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


.appointment-container-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-m);
    width: 100%;
}

.trash{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
    border-radius: var(--border-radius-m);
}