.appointments-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    padding: var(--padding-m);
    color: var(--foreground);
    height: 100%;
    transition: background-color 0.5s ease;
}

.date-and-add-appointment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-m);
    @media screen and (max-width: 576px) {
        flex-direction: column;
        gap: var(--gap-m);
    }
}

.add-appointment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    cursor: pointer;
    transition: background-color 0.5s ease;
    border: none;
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.btn{
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    @media screen and (max-width: 576px) {
        width: 100%;
    }
}

.appointment{
    display: flex;
    gap: var(--gap-m);
    padding: var(--padding-m);
    background-color: var(--background-light);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--border-light);
    transition: background-color 0.5s ease;
    &:hover{
        transition: background-color 0.5s ease;
        background-color: var(--primary);
        color: var(--text-light);
        cursor: pointer;
        .icon{
            color: var(--text-light);
        }
    }
}

.logo-hours{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-m);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    background-color: var(--muted);
    color: var(--foreground);
    transition: background-color 0.5s ease;
}

.info-appointment{
    display: flex;
    flex-direction: column;
    gap: var(--gap-m);
    width: 100%;
    transition: background-color 0.5s ease;
}
