<section class="appointments-container">
  @if (date()?.status) {
  <div class="date-and-add-appointment">
    <div class="info-date-header">
      <p>
        {{ date()?.dayName }}<span class="date"> - {{ date()?.date }}</span>
      </p>
      <p>Turnos libres: {{ hoursForDate().length - appointmentsLength() }}</p>
    </div>
    <button
      class="btn primary small"
      (click)="showFormToCreateAppointment()"
      [disabled]="hoursForDate().length - appointmentsLength() === 0"
    >
      <ng-icon
        [ngClass]="
          hoursForDate().length - appointmentsLength() === 0 ? 'disabled' : ''
        "
        name="heroPlus"
        class="icon icon-medium"
      ></ng-icon>
      Crear Reserva
    </button>
  </div>
  <ul class="list-appointment-status">
    <li
      [ngClass]="selectedStatus() === null ? 'active' : ''"
      (click)="filter(null)"
    >
      TODOS
    </li>

    <li
      [ngClass]="
        selectedStatus() === appointmentStatus.RESERVADO ? 'active' : 'appointmentStatus.RESERVADO'
      "
      (click)="filter(appointmentStatus.RESERVADO)"
      [class]="appointmentStatus.RESERVADO"
    >
      RESERVADO
    </li>
    <li
      [ngClass]="
        selectedStatus() === appointmentStatus.TERMINADO ? 'active' : ''
      "
      (click)="filter(appointmentStatus.TERMINADO)"
      [class]="appointmentStatus.TERMINADO"
    >
      TERMINADO
    </li>
    <li
      [ngClass]="selectedStatus() === appointmentStatus.AUSENTE ? 'active' : ''"
      (click)="filter(appointmentStatus.AUSENTE)"
      [class]="appointmentStatus.AUSENTE"
    >
      AUSENTE
    </li>
  </ul>
  } @if (!date()?.status) {
  <a class="link primary medium" routerLink="/dashboard/agenda"
    >Dia no habil, cambia la configuración de tu agenda para visualizar los
    turnos disponibles</a
  >
  }@else { @for(appointment of appointmentsForDate(); track $index) {
  <div class="appointment-container-row">
    <div class="appointment"  [ngClass]="appointment.status">
      <div class="logo-hours" (click)="showMoreDetails(appointment)">
        <ng-icon name="heroClock" class="icon icon-medium"></ng-icon>
      </div>
      <div class="info-appointment" (click)="showMoreDetails(appointment)">
        <p>{{ appointment.startTime }}</p>
        @if(appointment.customer) {
        <p>
          {{ appointment.customer.firstName }},
          {{ appointment.customer.lastName }}
        </p>
        }@else {
        <p>Cliente eliminado</p>
        }
      </div>
      <ng-icon
      class="icon icon-medium"
      name="heroTrash"
      (click)="deleteAppointment(appointment)"
    ></ng-icon>
    </div>

  </div>
  }@empty {
  <p>No hay turnos</p>
  } }
</section>
