.user-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "user-info user-data";
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-elevation-medium);
  padding: var(--padding-l);
  background-color: var(--background-light);
  gap: var(--gap-m);
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    transform: scale(0.95);
    transition: all 0.5s ease;
    background-color: var(--primary-light);
    color: var(--text-light);
    .icon {
      transition: all 0.5s ease;
      color: var(--text-light);
    }
  }
}

.user-profile__avatar {
  grid-area: user-info;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile__info {
  grid-area: user-data;
  font-size: var(--font-size-s);
}
