section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  /* background-color: var(--background-light);
  border: 1px solid #ccc;
  box-shadow: var(--shadow-elevation-medium); */
  border-radius: var(--border-radius-m);
  height: 100%;

  gap: var(--gap-m);
  @media (max-width: 769px) {
    background-color: rgba(255, 255, 255, 0);
    background-color: none;
    border-radius: none;
    box-shadow: none;
    border: none;
  }
}

.navigation-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--gap-l);
}

.navigation-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--gap-s);
}

.select{
  width: auto;
}

// Tabla
.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-m);

  .row-header {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding-top: var(--padding-l);
    padding-bottom: var(--padding-l);
    background-color: var(--background-light);
    border-top-left-radius: var(--border-radius-m);
    border-top-right-radius: var(--border-radius-m);
    background: linear-gradient(
    90deg,
    var(--primary) 0%,
    var(--primary-light) 50%,
    var(--primary) 100%
  );
  }

  .cell-header {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-medium);
    margin-left: var(--margin-l);
    color: white;
  }

  .row {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 2fr;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding-top: var(--padding-s);
    padding-bottom: var(--padding-s);
    border-top: 1px solid var(--primary);

    /* &:nth-child(even) {
      background-color: var(--background-light); 
    }

    &:nth-child(odd) {
      background-color: white; 
    } */
  }

  .cell {
    font-size: var(--font-size-m);
    text-align: left;
    margin-left: var(--margin-l);
  }

  .btn-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--gap-m);
  }

  .body {
    max-height: 800px;
    overflow-y: auto;
    width: 100%;
  }
}

//cards
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: var(--gap-l);
  height: 500px; 
  overflow-y: auto;
  width: 100%;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--gap-l);
  }
}

.card {
  padding: var(--padding-m);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  background-color: var(--background-light);
  border: 1px solid #ccc;
}

span{
  color: var(--primary);
  font-weight: var(--font-weight-medium);
}

.card-actions {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  margin-top: var(--margin-m);
  gap: var(--gap-m);
}
