<section>
  <button (click)="createCustomer()">Agregar cliente</button>
  <div class="header-container">

  </div>
  <div class="body-container">
    @for(customer of customers; track customer.id){
      <div class="row">
        <div>{{customer.firstName}} {{customer.lastName}}</div>
        <div>{{customer.email}}</div>
        <div>{{customer.phoneNumber}}</div>
        <div><p (click)="deleteCustomer(customer.id)">ELIMINAR</p></div>
        <div><p (click)="updateCustomer(customer)">MODIFICAR</p></div>
      </div>
    }
  </div>
</section>