section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--border-radius-m);
  height: 100%;
  gap: var(--gap-m);
  @media (max-width: 769px) {
    background-color: rgba(255, 255, 255, 0);
    background-color: none;
    border-radius: none;
    box-shadow: none;
    border: none;
  }
}

.navigation-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--gap-l);
  padding: var(--padding-m);
  /* border-bottom: 1px solid #ccc; */
}

.navigation-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: var(--gap-s);

  & a{
    text-decoration: none;
    padding: var(--padding-s);
    color: var(--text-muted);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-nomal);

    &.active{
      color: var(--primary);
    }

    &:hover{
      color: var(--primary);
    }
  }
}

.navigation-select {
  width: auto;
  border: none;
  color: var(--text-dark);
  font-size: var(--font-size-l);
  cursor: pointer;
}


.list-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-m);
  border-top: 1px solid #ccc;
  width: 100%;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.btn-item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.principal-info{
  color: var(--primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize !important;
}

.secondary-info{
  color: var(--text-muted);
  font-size: var(--font-size-l);  
  font-weight: var(--font-weight-normal);
}

.disabled{
  color: var(--text-muted);
}

