<section>
  <div class="navigation-container">
    <div class="navigation-menu">
      <ng-icon class="icon icon-small" name="heroChevronLeft" (click)="navigate(currentPage() - 1)" [ngClass]="{'disabled': currentPage() === 1}"></ng-icon>
      <p>{{currentPage()}} de {{totalPages()}}</p>
      <ng-icon class="icon icon-small" name="heroChevronRight" (click)="navigate(currentPage() + 1)" [ngClass]="{'disabled': currentPage() === totalPages()}"></ng-icon>
    </div>
    <div class="navigation-info">
      <p></p>
    </div>
    <select class="navigation-select" (change)="changePageSize($event)">
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="50">50</option>
    </select>
  </div>
  <div class="list-item-container">
    @for(customer of customers(); track customer.id){
    <div class="list-item">
      <div class="info-item">
        <div class="principal-info">
          {{ customer.firstName }} {{ customer.lastName }}
        </div>
        @if(customer.email){
        <div class="secondary-info">{{ customer.email }}</div>
        }@else{
        <div class="secondary-info">Sin email</div>
        }
        <div class="secondary-info">{{ customer.phoneNumber }}</div>
      </div>
      <div class="btn-item-container">
        <ng-icon
          class="icon icon-medium"
          name="heroPencilSquare"
          (click)="updateCustomer(customer)"
        />
        <ng-icon
          class="icon icon-medium"
          name="heroTrash"
          (click)="deleteCustomer(customer.id)"
        />
      </div>
    </div>
    }
  </div>
</section>
