.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "titlePos titlePos"
        "required no-required";
}

.required {
    grid-area: required;
}

.no-required {
    grid-area: no-required;
}

.titlePos {
    grid-area: titlePos;
}

.form{
    gap: 0px;
}