.sidebar-container {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 16px;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-profile"
      "nav-bar"
      "footer";
    gap: 16px;
  }
  
  .user-profile {
    grid-area: user-profile;
  }
  
  .nav-bar {
    grid-area: nav-bar;
  }
  
  .footer {
    grid-area: footer;
  }