.sidebar-container {
    width: 100%;
    min-height: 100vh;
    padding: var(--padding-s);
    display: grid;
    grid-template-rows: auto 7fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "user-profile"
      "nav-bar"
      "footer";
    gap: var(--gap-m);
  }
  
  .user-profile {
    grid-area: user-profile;
  }
  
  .nav-bar {
    grid-area: nav-bar;
  }
  
  .footer {
    grid-area: footer;
  }