<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <h2 class="title-container">Cambiar contraseña</h2>

  <div class="form-group">
    <label class="label" for="newPassword">Nueva contraseña</label>
    <div class="input container"  [ngClass]="{ 'passwordAreSame': passwordsAreEqual }">
      <ng-icon class="icon icon-medium" name="heroLockClosed" />
      <input class="input" [type]="statusButton === 'showPassword' ? 'text' : 'password'" formControlName="newPassword"
        placeholder="Contraseña" />
      @if (statusButton === 'hidePassword') {
      <ng-icon class="icon icon-small" name="heroEyeSlash" (click)="showPassword()" />
      } @else {
      <ng-icon class="icon icon-small" name="heroEye" (click)="showPassword()" />
      }
    </div>
  </div>

  <div class="form-group">
    <label class="label" for="confirmPassword">Repetir contraseña</label>
    <div class="input container" [ngClass]="{ 'passwordAreSame': passwordsAreEqual }">
      <ng-icon class="icon icon-medium" name="heroLockClosed" />
      <input class="input" [type]="statusButton2 === 'showPassword' ? 'text' : 'password'" formControlName="confirmPassword"
        placeholder="Repetir contraseña" />
      @if (statusButton2 === 'hidePassword') {
      <ng-icon class="icon icon-small" name="heroEyeSlash" (click)="showPassword2()" />
      } @else {
      <ng-icon class="icon icon-small" name="heroEye" (click)="showPassword2()" />
      }
    </div>
  </div>

  <button
    type="submit"
    class="btn medium primary"
    [disabled]="resetPasswordForm.invalid"
  >
    Cambiar contraseña
  </button>
</form>
