<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="newPassword">Nueva contraseña</label>
    <input
      class="input medium"
      id="newPassword"
      type="password"
      formControlName="newPassword"
    />
  </div>

  <div>
    <label for="confirmPassword">Repetir contraseña</label>
    <input
      class="input medium"
      id="confirmPassword"
      type="password"
      formControlName="confirmPassword"
    />
  </div>

  <button type="submit" class="btn medium success" [disabled]="resetPasswordForm.invalid">
    Cambiar contraseña
  </button>
</form>
