section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: var(--gap-s);
  background-color: var(--background-light);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-elevation-medium);
  
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--padding-m);
}
h2{
  font-size: var(--font-size-h2);
  color: var(--primary)
}

.add-btn {
  position: static;

  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 2000;
    border-radius: 50%;
    padding: var(--padding-m);
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      display: none; 
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}