<section class="today-container">
    <div class="title-container">
        <div class="header">
            <h2 class="title">Turnos de hoy</h2>
            <span class="employee">{{ employeeSelected().email }}</span>
        </div>
        @if (totalPages() > 1 && isDayActive()) {
        <div class="pagination-controls">
            <button class="pagination-controls-btn" (click)="prevPage()">
                <ng-icon class="icon icon-small" name="heroChevronLeft"></ng-icon>
            </button>
            <span>{{ currentPage() + 1 }} de {{ totalPages() }}</span>
            <button class="pagination-controls-btn" (click)="nextPage()">
                <ng-icon class="icon icon-small" name="heroChevronRight"></ng-icon>
            </button>
        </div>
        }
    </div>
    @if (!isDayActive()) {
    <a class="link primary" routerLink="/dashboard/agenda">Dia no habil, cambia la configuración de tu agenda para
        visualizar los turnos
        disponibles</a>
    }@else if(isDayHoliday()) {
    <p>Dia de vacaciones, no podes gestionar turnos.</p>
    <p>Finalizan el Dia {{holidaySelected().endDate.slice(8, 10) }} del Mes {{holidaySelected().endDate.slice(5, 7)}}</p>
    }@else {
    @for (appointment of paginatedAppointments(); track $index) {
    <article class="item-container" [ngClass]="appointment.status">
        <div class="item-info" (click)="showMoreDetails(appointment)">
            <p>{{ appointment.startTime }}</p>
            <span>|</span>
            @if(appointment.customer) {
                <p>{{appointment.customer.firstName}}, {{appointment.customer.lastName}}</p>
              }@else {
                <p>Cliente eliminado</p>
              }
            <!-- <div class="circle" [ngClass]="appointment.status"></div> -->
        </div>
        <ng-icon class="icon icon-small" name="heroTrash" (click)="deleteAppointment(appointment)"></ng-icon>
    </article>
    }
    @empty {
    <p>No hay turnos para el dia de hoy.</p>
    }@if (!returnIfPlaceForNewAppointments()) {
    <p class="info">No hay lugar para un nuevo turno</p>
    }@else {
    <button class="btn large primary" (click)="showFormToCreateAppointment()">
        <ng-icon class="icon icon-small" name="heroPlusCircle"></ng-icon>
        Agregar turno
    </button>
    }
    }
</section>