.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-m);
  box-shadow: var(--shadow-elevation-low);
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  border: 1px solid var(--border-light);
  width: 100%;
}

.more{
  width: 100%;
  text-align: end;
}

.item-info {
  display: flex;
  flex-direction: row;
  gap: var(--gap-m);
  cursor: pointer;
}

.today-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-l);
  padding: var(--padding-l);
  border-radius: var(--border-radius-m);
  box-shadow: var(--shadow-elevation-medium);   
  background-color: var(--background-light); 
  height: 100%;
  @media (max-width: 968px) {
    height: auto;
  }
}

.pagination-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.pagination-controls-btn {
  box-shadow: none;
  background-color: transparent;
  border:none;
}