<section class="today-container">
    <h2 class="title">Turnos de hoy</h2>
    @if (isDayActive) {
    <a class="link primary">Dia no habil, cambia la configuración de tu agenda para visualizar los turnos
        disponibles</a>
    }@else {
        @for(appointment of signalAppointmentsForDate(); track $index) {
            <article class="item-container">
                <div class="item-info">
                    <p>{{appointment.startTime}}</p>
                    <span>|</span>
                    <p>{{appointment.customer?.firstName}}, {{appointment.customer?.lastName}}</p>
                </div>
                <ng-icon class="icon icon-small" name="heroTrash"></ng-icon>
            </article>
        }@empty {
            <p>No hay turnos para el dia de hoy.</p>
            <button class="btn small secondary" (click)="showFormToCreateAppointment()">Agregar Turno</button>
        }
    }
</section>