<div class="component-container">
  <section class="form-container">
    <h2>{{ title }}</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">

      @if (isRegister) {
        <div class="form-group">
            <label>Nombre</label>
            <div class="icon-input-container">
            <ng-icon class="icon icon-medium" name="heroUserCircle" />
            <input type="text" formControlName="firstName" />
            </div>
        </div>

        <div class="form-group">
            <label>Apellido</label>
            <div class="icon-input-container">
            <ng-icon class="icon icon-medium" name="heroUserCircle" />
            <input type="text" formControlName="lastName" />
            </div>
        </div>
      }

      <div class="form-group">
        <label>Email</label>
        <div class="icon-input-container">
          <ng-icon class="icon  icon-medium" name="heroAtSymbol" />
          <input type="email" formControlName="email" />
        </div>
      </div>

      <div class="form-group">
        <label>Contraseña</label>
        <div class="icon-input-container">
          <ng-icon class="icon  icon-medium" name="heroLockClosed" />
          <div class="password-container">
            <input
              [type]="statusButton === 'showPassword' ? 'text' : 'password'"
              formControlName="password"
            />
            <button (click)="showPassword()" type="button" class="icon-button">
              @if (statusButton === 'hidePassword') {
              <ng-icon class="icon icon-small" name="heroEyeSlash" />
              } @else {
              <ng-icon class="icon icon-small" name="heroEye" />
              }
            </button>
          </div>
        </div>
      </div>

      
      <button class="btn-confirm base-button-small" type="submit">
        {{ buttonText }}
      </button>
      <button class="btn-confirm base-button-medium" type="submit">
        {{ buttonText }}
      </button>
      <button class="btn-confirm base-button-large" type="submit">
        {{ buttonText }}
      </button>
      <p class="link" (click)="changeForm()">{{statusForm}}</p>

    </form>
  </section>
</div>
