::ng-deep {
    /* ⬆️ Ajustar el tamaño del calendario */
    .demo-inline-calendar-card {
        min-width: 300px !important;
        min-height: 300px !important;
        font-size: var(--font-size-m) !important;
        border-radius: var(--border-radius-m) !important;
        box-shadow: var(--shadow-elevation-medium) !important;
        background-color: var(--background-light) !important;
    }
    .mat-calendar-body-cell-content,
    .mat-calendar-header,
    .mat-calendar-table-header th,
    .mat-calendar-previous-button,
    .mat-calendar-next-button,
    .mat-calendar-body-cell,
    .mat-calendar-body-label,
    .mat-calendar-period-button {
        font-size: var(--font-size-m) !important;
    }
}
