section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  /* background-color: var(--background-light);
  border: 1px solid #ccc;
  box-shadow: var(--shadow-elevation-medium); */
  border-radius: var(--border-radius-m);
  height: 100%;

  gap: var(--gap-m);
  @media (max-width: 769px) {
    background-color: rgba(255, 255, 255, 0);
    background-color: none;
    border-radius: none;
    box-shadow: none;
    border: none;
  }
}

//cards
.cards {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: var(--gap-l);
  height: 100%;
  /* overflow-y: auto; */
  width: 100%;

  @media screen and (max-width: 576px) {
    gap: var(--gap-l);
  }
}

.card {
  padding: var(--padding-m);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  background-color: var(--background-light);
  border: 1px solid #ccc;
  width: 100%;
}

span{
  color: var(--primary);
  font-weight: var(--font-weight-medium);
}

.card-actions {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 100%;
  margin-top: var(--margin-m);
  gap: var(--gap-m);
}
