section {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--border-radius-m);
  height: 100%;

  gap: var(--gap-m);
  @media (max-width: 769px) {
    background-color: rgba(255, 255, 255, 0);
    background-color: none;
    border-radius: none;
    box-shadow: none;
    border: none;
  }
}

.list-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-m);
  border-top: 1px solid #ccc;
  width: 100%;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
}

.btn-item-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.principal-info{
  color: var(--primary);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
}

.secondary-info{
  color: var(--text-muted);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
}