<section>
  <div class="list-item-container">
    @for(manager of managers(); track manager.id){
      <div class="list-item">
        <div class="info-item">
          <div class="principal-info">{{ manager.firstName }} {{ manager.lastname }}</div>
          <div class="secondary-info">{{ manager.email }}</div>
          <div class="secondary-info">{{ manager.role }}</div>
        </div>
        <div class="btn-item-container">
          <ng-icon
            class="icon icon-medium"
            name="heroArrowPathRoundedSquare"
            (click)="resetPassword(manager)"
          />
          <ng-icon
            class="icon icon-medium"
            name="heroSparkles"
            (click)="holidays(manager)"
          />
          @if(manager.role !== 'ADMIN'){
            <ng-icon
              class="icon icon-medium"
              name="heroTrash"
              (click)="deleteManager(manager.id)"
            />
          }
        </div>
      </div>
    }
  </div>
</section>
