<section>
  <h2>Actualizar datos personales.</h2>
  <form [formGroup]="form" (ngSubmit)="updateProfile()">
    
    <div class="form-group">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroUserCircle" />
        <input class="input" type="text" formControlName="firstName" placeholder="Nuevo nombre" />
      </div>
    </div>

    <div class="form-group">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroUserCircle" />
        <input class="input" type="text" formControlName="lastName" placeholder="Nuevo apellido" />
      </div>
    </div>

    <div class="form-group">
      <div class="input container">
        <ng-icon class="icon icon-medium" name="heroAtSymbol" />
        <input class="input" type="email" formControlName="email" placeholder="Nuevo email" />
      </div>
    </div>
    
    <button type="submit" class="btn success full" [disabled]="form.invalid">Guardar</button>
  </form>
</section>