.headMap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-l);
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  background-color: var(--background-light);
  box-shadow: var(--shadow-elevation-medium);
  height: 100%;
  .title {
    text-align: start;
    width: 100%;
  }
}

.headMap {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x:auto;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--gap-l);

  @media (max-width: 1200px) {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
}

.column-container>*:nth-child(2) {
  border-radius: var(--border-radius-s);
  padding: var(--padding-m) var(--padding-s);
  background-color: var(--primary);
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-m);
  
  @media (max-width: 1200px) {
    width: 100%;
    height: auto !important;
  }
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: var(--padding-xl);

  gap: var(--gap-xl);
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 100%;
    padding: var(--padding-s);
    gap: var(--gap-s);
  }
  @media (max-width: 576px) {
    width: auto;
  }
}


.header-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: var(--gap-s);
    align-items: center;
  }
}

.form-group{
  width: 200px;
}

.title{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    p{
      text-align: center;
    }
  }
}