.headMap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-l);
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  background-color: var(--background-light);
  box-shadow: var(--shadow-elevation-medium);
  height: 100%;
  .title {
    text-align: start;
    width: 100%;
  }
}

.headMap {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  text-align: center;
  width: 100%;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: var(--gap-l);

  @media (max-width: 1200px) {
    flex-direction: row;
    height: auto;
    width: 100%;
  }
}

.column-container>*:nth-child(2) {
  border-radius: var(--border-radius-m);
  padding: var(--padding-l);
  background-color: var(--primary);
  color: var(--text-light);

  @media (max-width: 1200px) {
    width: 100%;
    height: auto !important;
  }
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  @media (max-width: 1200px) {
    flex-direction: column;
    width: 100%;
    padding: var(--padding-s);
    gap: var(--gap-s);
  }
  @media (max-width: 576px) {
    width: auto;
  }
}


.c1 {
  height: calc(20px * 3) !important;
  @media (max-width: 1200px) {
    width: calc(20px * 3) !important;
  }
}

.c2 {
  height: calc(20px * 5) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 5) !important;
  }
}

.c3 {
  height: calc(20px * 8) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 8) !important;
  }
}

.c4 {
  height: calc(20px * 10) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 10) !important;
  }
}

.c5 {
  height: calc(20px * 12) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 12) !important;
  }
}

.c6 {
  height: calc(20px * 10) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 10) !important;
  }
}

.c7 {
  height: calc(20px * 7) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 7) !important;
  }
}

.c8 {
  height: calc(20px * 5) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 5) !important;
  }
}

.c9 {
  height: calc(20px * 11) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 11) !important;
  }
}

.c10 {
  height: calc(20px * 9) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 9) !important;
  }
}

.c11 {
  height: calc(20px * 8) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 8) !important;
  }
}

.c12 {
  height: calc(20px * 3) !important;

  @media (max-width: 1200px) {
    width: calc(20px * 3) !important;
  }
}