<section class="headMap-container">
  <h2 class="title">Los horarios mas reservados</h2>
  <div class="headMap">
    <div class="column">
      <div class="column-container">
        <p>09:00</p>
        <div class="c1">3</div>
      </div>

      <div class="column-container">
        <p>10:00</p>
        <div class="c2">5</div>
      </div>

      <div class="column-container">
        <p>11:00</p>
        <div class="c3">8</div>
      </div>

      <div class="column-container">
        <p>12:00</p>
        <div class="c4">10</div>
      </div>

      <div class="column-container">
        <p>13:00</p>
        <div class="c5">12</div>
      </div>

      <div class="column-container">
        <p>14:00</p>
        <div class="c6">10</div>
      </div>

      <div class="column-container">
        <p>15:00</p>
        <div class="c7">7</div>
      </div>

      <div class="column-container">
        <p>16:00</p>
        <div class="c8">5</div>
      </div>

      <div class="column-container">
        <p>17:00</p>
        <div class="c9">11</div>
      </div>

      <div class="column-container">
        <p>18:00</p>
        <div class="c10">9</div>
      </div>

      <div class="column-container">
        <p>19:00</p>
        <div class="c11">6</div>
      </div>

      <div class="column-container">
        <p>20:00</p>
        <div class="c12">3</div>
      </div>
    </div>
  </div>
</section>
