<form [formGroup]="customerForm" (ngSubmit)="create()">
  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroUserCircle" />
    <input id="firstName" class="input medium" type="text" formControlName="firstName" placeholder="Nombre"/>
  </div>

  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroUserCircle" />
    <input id="lastName" class="input medium" type="text" formControlName="lastName" placeholder="Apellido"/>
  </div>

  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroPhone" />
    <input id="phoneNumber" class="input medium" type="text" formControlName="phoneNumber" placeholder="Teléfono"/>
  </div>

  <div class="input container">
    <ng-icon class="icon icon-medium" name="heroEnvelope" />
    <input id="email" class="input medium" type="email" formControlName="email" placeholder="Correo electrónico"/>
  </div>

  <button type="submit" class="btn success full" [disabled]="customerForm.invalid">Crear Cliente</button>
</form>