.btn {
  color: var(--primary);
  background-color: none !important;
  font-size: var(--font-size-xl);
  &:hover {
    color: var(--text-light);
    background-color: var(--primary-light);
    .icon {
      transition: ease-in-out 0.3s !important;
      color: var(--text-light);
    }
  }
}

.icon{
  color: var(--primary);
  transition: ease-in-out 0.3s !important;
}