.dashboard-container{
    display: flex;
    flex-direction: column;
    gap: 16px;    
}

.stats-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.4fr;
    grid-template-areas: "today mostPopulateTime mostPopulateTime"
                         "countDay countDay countDay"
    ;
    gap: 16px;
}


.today{
    grid-area: today;
}

.mostPopulateTime{
    grid-area: mostPopulateTime;
}

.countDay{
    grid-area: countDay;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 16px;
    background-color: #212121;
    color: white;
}