@use "styles/variables";
@use "styles/icons";
@use "styles/buttons";
@use "styles/links";
@use "styles/inputs";
@use "styles/selects";
@use "styles/form";
@use "styles/toggles";
@use "styles/text";
@use "styles/modal";
@use "sass:color";
@import "@ng-select/ng-select/themes/default.theme.css";

html, body {
  font-family: var(--font-family);
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size-l);
  background-color: #fff;
}

