<nav class="navbar-container">
    <p class="navbar-brand">
        <a routerLink="/dashboard" class="navbar-brand-link">Gesturn</a>
    </p>
    <ul class="nav">
        <a class="nav-item" routerLink="/dashboard" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroHome"></ng-icon>
            <a class="nav-link">Inicio</a>
        </a>

        <a class="nav-item" routerLink="/dashboard/agenda" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroCalendarDays"></ng-icon>
            <a class="nav-link">Agenda</a>
        </a>

        <a class="nav-item" routerLink="/dashboard/turnos" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroPaperClip"></ng-icon>
            <a class="nav-link">Turnos</a>
        </a>
        @if (role === 'ADMIN') {
        <a class="nav-item" routerLink="/dashboard/empleados" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroBriefcase"></ng-icon>
            <a class="nav-link">Empleados</a>
        </a>
        }
        <a class="nav-item" routerLink="/dashboard/clientes" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroUserGroup"></ng-icon>
            <a class="nav-link">Clientes</a>
        </a>

        @if (role === 'ADMIN') {
        <a class="nav-item" routerLink="/dashboard/servicios" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroRectangleGroup"></ng-icon>
            <a class="nav-link">Servicios</a>
        </a>
        }

        <a class="nav-item" routerLink="/dashboard/configuracion" routerLinkActive="active">
            <ng-icon class="icon icon-medium" name="heroCog6Tooth"></ng-icon>
            <a class="nav-link">Configuracion</a>
        </a>

        
    </ul>
</nav>
