.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  background-color: var(--card);  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  list-style: none;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary);
  text-align: start;
  padding: 16px 16px 0px 16px;
  text-decoration: none;
}

.nav-item {
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--muted-light);
  &:hover {
    background-color: var(--muted);
  }
}

.nav-link.active {
  font-weight: bold;
  color: var(--primary);
  border-bottom: 2px solid var(--primary); 
  background-color: var(--muted);
}

.nav-link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: black;
}

.navbar-brand-link {
  text-decoration: none;
  color: var(--primary);
}
