.navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: var(--border-radius-m);
  background-color: var(--background-light);
  box-shadow: var(--shadow-elevation-medium);
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  padding: 16px 16px 0px 16px;
}

.navbar-brand-link {
  text-decoration: none;
  color: var(--primary);
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  list-style: none;
}

.nav-item {
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  text-decoration: none;
  color: var(--text-muted);
}

.icon{
  color: var(--text-muted);
}

.nav-item.active .nav-link {
  color: var(--primary);
  background-color: var(--muted);
  border-left: 4px solid var(--primary);
  font-weight: var(--font-weight-medium);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out !important;
}

.nav-item.active .icon{
  color: var(--primary);
  transition: color 0.3s ease-in-out !important;
}

.nav-link:hover {
  color: var(--primary);
  background-color: var(--muted);
}

.nav-link:hover .icon {
  color: var(--primary);
}
