<nav class="navbar-container">
    <p class="navbar-brand">
      <a routerLink="/dashboard" class="navbar-brand-link">Gesturn</a>
    </p>
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/dashboard">
          <ng-icon class="icon icon-medium" name="heroHome"></ng-icon>
          <span>Inicio</span>
        </a>
      </li>
  
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/agenda">
          <ng-icon class="icon icon-medium" name="heroCalendarDays"></ng-icon>
          <span>Agenda</span>
        </a>
      </li>
  
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/turnos">
          <ng-icon class="icon icon-medium" name="heroPaperClip"></ng-icon>
          <span>Turnos</span>
        </a>
      </li>
      
      @if (role === 'ADMIN') {
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/personal">
          <ng-icon class="icon icon-medium" name="heroBriefcase"></ng-icon>
          <span>Personal</span>
        </a>
      </li>
      }
        
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/clientes">
          <ng-icon class="icon icon-medium" name="heroUserGroup"></ng-icon>
          <span>Clientes</span>
        </a>
      </li>
  
      @if (role === 'ADMIN') {
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/servicios">
          <ng-icon class="icon icon-medium" name="heroRectangleGroup"></ng-icon>
          <span>Servicios</span>
        </a>
      </li>
      }
  
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/configuracion">
          <ng-icon class="icon icon-medium" name="heroCog6Tooth"></ng-icon>
          <span>Configuración</span>
        </a>
      </li>
    </ul>
  </nav>
  