:host {
  display: block;
  width: 100%;
}

.save-button {
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--background);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--foreground);
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 8px;
  width: 50%;
  display: block;
  
  &:hover {
    background-color: var(--muted);
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(10px);
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}